<div class="p-fluid col-12" style="padding: 0px">
  <p-table #dt editMode="row" 
  [value]="tickets" 
  [reorderableColumns]="true"
    [rowsPerPageOptions]="[5, 10, 25, 50, 100]" 
    paginatorDropdownAppendTo="body"
     [resizableColumns]="true" 
     [rows]="10"     
    [paginator]="true" 
    responsiveLayout="scroll" 
    [columns]="selectedColumns"
    [(selection)]="selectedTickets" 
    [rowHover]="true"
     dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
    [showCurrentPageReport]="true"
    [globalFilterFields]="['ticketNo', 'groupName', 'status']" [metaKeySelection]="true">
    <ng-template pTemplate="caption">
      <div class="col-12 m-0 p-0">
        <div class="grid">

          <div class="col-2 m-0 breadcrumb-sec" style="width:auto">
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
          </div>



          
          <div class="col-3 mr-2 pb-0" *ngIf="showMsg">
            <div>
              <p-dropdown #projectlabel [options]="projectactive" name="All" optionLabel="projectName"
                optionValue="projectId" [filter]="true" [showClear]="true" filterBy="projectName"  filterMatchMode="startsWith"
                [placeholder]="emailPlaceholderText" (onChange)="onChange($event,projectlabel.label)" ></p-dropdown>
            </div>
          </div>

          <div class="col-7 m-0 pb-0">

            <div *ngIf="showassignbtn">
              <button pButton type="button" label="Assign To" style="width: 7rem; margin-left: -1rem;float: left"
                class="slim-button" [disabled]="!selectTicketNo || !selectTicketNo.length"
                (click)="op.toggle($event); "></button>
            </div>

            <div>
              <button pButton type="button" icon="pi pi-ticket" label="Manual Ticket"
                style="width: 10rem; margin-left: 0;float: left;margin-right: 8px;" class="slim-button manualadd"
                (click)="manualticketbtn()">
              
              </button>
            </div>
            <div>
              <button pButton type="button" icon="pi pi-clone" label="Merge"
                style="width: 6rem; margin-left: 0;float: left;margin-right: 20px;" class="slim-button manualadd merge"
                (click)="getMerge()">
              
              </button>
            </div>
            <div *ngIf="showassignbtnauth">
              <button pButton type="button" icon="pi pi-info-circle" label="Assign To"
                style="width: 7rem; margin-left: -1rem;float: left" class="slim-button"
                [disabled]="!selectTicketNo || !selectTicketNo.length"
                (click)="op.toggle($event); ongroupbased(); "></button>
            </div>
          </div>


        </div>
      </div>

      <div class="p-field grid mt-2">
        <div class="card p-2">
          <div class="flex flex-row-reverse flex-wrap">
            <div class="flex align-items-center justify-content-center w-15rem">
              <div class="col-12" style="padding: 0px; padding-right: 10px">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                  selectedItemsLabel="{0} columns selected" [style]="{ minWidth: '20px' }"
                  placeholder="Choose Columns"></p-multiSelect>
              </div>
            </div>
            <div class="flex align-items-center justify-content-center w-15rem" *ngIf="tickettypedisplay">
              <div class="col-12" style="padding: 0px; padding-right: 10px">
                <p-dropdown [options]="tickettype" optionLabel="tickettype" optionValue="tickettype" 
                  [showClear]="true" dropdownIcon="pi pi-caret-down" [placeholder]="TicketType"  [filter]="true" filterMatchMode="startsWith"
                  (onChange)="onChangetickettype($event)"></p-dropdown>
              </div>
            </div>
            <div class="flex align-items-center justify-content-center w-15rem">
              <div class="p-d-flex p-ai-end p-jc-end">
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="
                      dt.filterGlobal($any($event.target).value, 'contains')
                    " placeholder="Search..." />
                </span>
              </div>
            </div>
            <div class="col-3 mr-2 pb-0" *ngIf="showMsggroup">
              <div>
                <p-dropdown #groupAgent [options]="groupbased" optionLabel="groupAgentName" optionValue="groupAgentName"
                  [filter]="true" [showClear]="true" [placeholder]="groupPlaceholderText"  filterMatchMode="startsWith"
                  (onChange)="onChange1($event)"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3rem">
          <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
          <a (click)="getMerge()" class="merge_assign">Merge</a>
        </th>
        <th style="width: 3rem">
          <a (click)="getAssign()" class="merge_assign">Assign</a>
          <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
        </th>
        <th *ngFor="let col of columns" pResizableColumn pReorderableColumn >
          {{ col.header }}
          <!-- <p-sortIcon field="{{ col.header }}"></p-sortIcon> -->
        </th>

        <th style="text-align: center" *ngIf="tableselectedcol">Status</th>
        <!-- <th style="text-align: center" *ngIf="tableselectedcol_priority">Priority</th> -->
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let i="index" [pEditableRow]="ticket" let-ri="rowIndex" let-ticket
      let-columns="columns" let-rowData let-index="rowIndex">
      <tr [pReorderableRow]="index"    [ngClass]="{
        'Mediumtr':ticket.priority=='Medium',
        'Low':ticket.priority=='Low',
        'Urgent':ticket.priority=='Urgent',
        'High':ticket.priority=='High'
        
      }" >
        <!-- <div *ngFor="let chk of columns; let i = index">
          <input
            [(ngModel)]="chk.columns"
            type="checkbox"
            [disabled]="!chk.checked && maxNo"
            (change)="onChange($event.target.checked)"
          />{{ chk.ticketNo }}
        </div> -->
        <td>
          <!-- <p-tableCheckbox [value]="agent"></p-tableCheckbox> -->
          <span *ngIf="tableselectedcol" >
          <input #inputCheck type="checkbox" (ngModel)="checked" [disabled]="checked"
          (change)="getTicket($event.target.checked, ticket.ticketNo,ticket.subject,ticket.to_Address,ticket.createdAt,ticket.mailBody,ticket.status)"
            [value]="ticket"   pTooltip="Merge"/>
          </span>
        </td>

        <td style="text-align: center;">
          <span *ngIf="tableselectedcol">
          <p-radioButton [value]="ticket" [(ngModel)]="selectedValue" 
          [disabled]="checked_radio"
          (click)="editTickets(ticket)"  pTooltip="Assign">
          </p-radioButton></span>
        </td>
     
        

        <td *ngFor="let col of columns" (click)="editTicket(ticket)" style="cursor: pointer" 
        pTooltip="{{ ticket[col.field] }}" [ngClass]="{'class-whatsapp': isColumnWithFrom(col.field, rowData[col.field])}" [tooltipOptions]="tooltipOptions" tooltipPosition="top" placeholder="Top" >
          <span id="class" class="tick-width"
          
            [ngClass]="{
              'Medium ': ticket.priority == 'Medium' && col.field==='priority',
              'Low ': ticket.priority == 'Low' && col.field==='priority',
              'Urgent ': ticket.priority == 'Urgent' && col.field==='priority',
              'High ': ticket.priority == 'High' && col.field==='priority'
               }"
            
       > 
       
       {{ ticket[col.field] }}</span>
        
        </td>
        <!-- <td>
        <p-overlayPanel #op>
          <ng-template pTemplate>
            <p-dropdown appendTo="body"
              #groupliststatus
              [options]="statusitems"
             
             
              [metaKeySelection]="false"
              [checkbox]="false"
              [filter]="true"
              [multiple]="false"
              optionLabel="statusitems"
              [listStyle]="{ 'max-height': '250px' }"
              [style]="{ width: '15rem' }"
              (onChange)="onChangeliststatus(ticket,groupliststatus.value);"
              
              ></p-dropdown>
          </ng-template>
      </p-overlayPanel>
      
      <button type="text" pButton label="Basic" (click)="op.toggle($event)"></button>
      </td> -->
<!-- <td  [ngClass]="ticket.slaResponseStatus==='Within SLA' ? 'success' : 'danger'">{{ticket.slaResponseStatus}}</td> -->
        <td pEditableColumn *ngIf="tableselectedcol"  [ngClass]="{ 'Closedtd': ticket.status== 'Closed'}" >
          <!-- <p-overlayPanel #op>
          
          <ng-template pTemplate="input">
            <p-dropdown appendTo="body"
            #groupliststatus
            [options]="statusitems"
           
           
            [metaKeySelection]="false"
            [checkbox]="false"
            [filter]="true"
            [multiple]="false"
            optionLabel="statusitems"
            [listStyle]="{ 'max-height': '250px' }"
            [style]="{ width: '2rem' }"
            (onChange)="onChangeliststatus(ticket,groupliststatus.value);"
            
            ></p-dropdown>
            <ng-template pTemplate="output">
              {{ticket.status}}
          </ng-template>
          </ng-template>
      </p-overlayPanel> -->

          <!-- <button type="text" pButton label="Basic" (click)="op.toggle($event)"></button> -->

          <p-cellEditor>
            <ng-template pTemplate="input" class="ticketdropdown">
              <p-dropdown appendTo="body" #groupliststatus [options]="statusvalue" [metaKeySelection]="false"
                [checkbox]="false" [filter]="true" panelStyleClass="dropdowndisable" [multiple]="false"  filterMatchMode="startsWith"
                optionLabel="status" [listStyle]="{ 'max-height': '10px' }" [style]="{ width: '6rem', padding: '0px' }"
                [autoDisplayFirst]="false"  [disabled]="isDropdownDisabled" (onChange)="onChangeliststatus(ticket, groupliststatus.value,$event);"  
               
                >
              </p-dropdown>              
            </ng-template>
            <ng-template pTemplate="output">
              <span class="link-sec" [ngClass]="{
                  'Onhold ': ticket.status == 'On Hold',
                  'WIP ': ticket.status == 'WIP',
                  'CustomerWorking ': ticket.status == 'Customer Working',
                  'Closed ': ticket.status == 'Closed',
                  'Duplicate ': ticket.status == 'Duplicate',
                  'Resolved ': ticket.status == 'Resolved',
                  'Open ': ticket.status == 'Open',
                  'MergeClosed': ticket.status == 'MergedClosed',
                  'UnAssigned': ticket.status == 'UnAssigned',
                  'Assigned': ticket.status == 'Assigned',
                  'TechincalWorking': ticket.status == 'Techincal Working',
                  'ToBeMoveToPROD': ticket.status == 'ToBeMoveToPROD',
                  'FinalConfirmation': ticket.status == 'Final Confirmation',
                  'InputRequired': ticket.status == 'Input Required',
                  'WaitingforApproval': ticket.status == 'Waiting for Approval'
                }">
                {{ ticket.status }}</span>
            </ng-template>
          </p-cellEditor>
          <span class="link-sec" [ngClass]="{
            'Onholdsec': ticket.status == 'On Hold',
            'WIPsec ': ticket.status == 'WIP',
            'CustomerWorkingsec': ticket.status == 'Customer Working',
            'Closedsec': ticket.status == 'Closed',
            'Duplicatesec': ticket.status == 'Duplicate',
            'Resolvedsec': ticket.status == 'Resolved',
            'Opensec': ticket.status == 'Open',
            'MergeClosedsec': ticket.status == 'MergedClosed',
            'UnAssignedsec': ticket.status == 'UnAssigned',
            'Closed sec': ticket.status == 'Closed',
            'Assignedsec': ticket.status == 'Assigned',
            'TechincalWorkingsec': ticket.status == 'Techincal Working',
            'ToBeMoveToPRODsec': ticket.status == 'ToBeMoveToPROD',
            'FinalConfirmationsec': ticket.status == 'Final Confirmation',
            'InputRequiredsec': ticket.status == 'Input Required',
            'WaitingforApprovalsec': ticket.status == 'Waiting for Approval'
          }">
          {{ ticket.status }}</span>
        </td>
      <!-- <td>{{ticket.priority}}</td> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ tickets ? tickets.length : 0 }} Tickets.
      </div>
    </ng-template>

  </p-table>

</div>
<p-overlayPanel #op [dismissable]="false" [showCloseIcon]="true">
  <p-listbox #grouplist [options]="groupbased" [(ngModel)]="selectedvalue" optionLabel="groupAgentName"
    [metaKeySelection]="false" [checkbox]="false" [filter]="true" [multiple]="false" optionLabel="groupAgentName"
    [listStyle]="{ 'max-height': '250px' }" [style]="{ width: '15rem' }" (onChange)="onChangelist(grouplist.value)">
  </p-listbox>
  <p>
    Selected Group:
    {{ selectedvalue ? selectedvalue.groupAgentName : "none" }}
  </p>

  <div class="p-field grid">
    <div class="col-offset-10 col-2">
      <button pButton label="Assign" (click)="assignTickets();op.hide($event)" type="submit"
        style="float: right !important"></button>
    </div>
  </div>
</p-overlayPanel>




<div class="merge" [ngClass]="{ className: scrolled }">
  <p-sidebar appendTo="body" (onHide)="sidenavClosed()" [(visible)]="visibleSidebar2" position="right"
    autoZIndex="false" [baseZIndex]="99999">
    <div class="col-12">
      <h3 class="merge-title">Merge tickets</h3>
      {{this.ticketmerge.length}} tickets selected

      <div class="col-12 p-0 merge-sec-div" *ngFor="let item of ticketmerge">
        <div class="grid p-0 m-0">
          <div class="col-2">
            <p-radioButton [value]="item" [(ngModel)]="selectedValueradio" (click)="editTicketsarray(item)">
            </p-radioButton>
          </div>
          <div class="col-10">
            <div class="col-12 p-0"><b> TicketNo :</b> {{ item.ticketNo }}</div>
            <div class="col-12 p-0"> <b> Ticket Subject : </b> {{ item.ticketsubject }}</div>
            <div class="col-12 p-0"> <b> Ticket Requestors :</b>{{ item.ticketrequestors }}</div>
            <div class="col-12 p-0"><b> Created Date : </b>{{ item.ticketdate }}</div>
          </div>
        </div>


      </div>
      <div class="p-field grid" *ngIf="savemerge">
        <div class="col-12">
          <button pButton label="Merge" (click)="merge()" type="submit" style="float: right !important"></button>
        </div>
      </div>
    </div>

  </p-sidebar>
</div>
<p-dialog [(visible)]="TicketDialog" [responsive]="true" header="Error Code" [modal]="true" [autoZIndex]="true">
  <form class="p-fluid p-grid" (ngSubmit)="saveErrors()" [formGroup]="errorForm">
    <div class="grid">
      <div class="col-6">
        <div class="p-field grid">
          <div class="col-12">
            <label for="error_code">Error Code
              <span style="color: red">*</span></label>
            <span class="p-float-label" styleClass="md-inputfield">
              <input type="text" id="error_code" pInputText required="true" formControlName="error_code"
                disabled="true" />
            </span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="p-field grid">
          <div class="col-12">
            <label for="error_name">
              Problem Summary <span style="color: red">*</span></label>
            <span class="p-float-label" styleClass="md-inputfield">
              <input type="text" id="error_name" pInputText required="true" formControlName="error_name"
                disabled="true" />
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 p-0">
      <div class="p-field grid">
        <div class="col-12">
          <label for="error_description"> Problem Description</label>
          <span class="p-float-label" styleClass="md-inputfield">
            <textarea inputId="textarea" rows="3" style="resize: none" cols="30" pInputTextarea id="error_description"
              formControlName="error_description" ngModel></textarea>
          </span>
        </div>
      </div>
    </div>

    <div class="p-field grid">
      <div class="col-12">
        <button pButton label="Save" type="submit" style="float: right !important"></button>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog #pdFront [(visible)]="displayBasic" [responsive]="true" header="Add Manual Ticket" [modal]="true"
(click)="pdFront.moveOnTop()">
  <form class="p-fluid p-grid" (ngSubmit)="updateticket()" [formGroup]="ticketform">
    <div class="col-12">
      <div class="grid">
        <div class="col-6">
          <div class="p-field grid ">
            <div class="col-12">
              <label for="clientName">Project Name : <span style="color: red">*</span></label>
              <span *ngIf="groupprojectenable" class="border-manual">{{this.groupProjectName}}</span>
              <span class="p-float-label" styleClass="md-inputfield" *ngIf="groupproject">
                <p-dropdown #projectvalue [options]="projectactive" name="All" formControlName="projectId"
                  optionLabel="projectName" optionValue="projectId" [filter]="true" [showClear]="true"
                  dropdownIcon="pi pi-caret-down" filterBy="projectDescription" [placeholder]="emailPlaceholder"
                  (onChange)="onChangeproject($event,projectvalue.label)" filterMatchMode="startsWith"></p-dropdown>

              </span>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="p-field grid ">
            <div class="col-12">
              <label for="clientName">Group Name : <span style="color: red">*</span></label>
              <span *ngIf="groupprojectenable" class="border-manual"> {{this.groupNameForUser}}</span>
              <span class="p-float-label" styleClass="md-inputfield" *ngIf="groupproject">
                <p-dropdown formControlName="groupName" #groupAgent [options]="groupbased" optionLabel="groupAgentName"
                  optionValue="groupAgentName" dropdownIcon="pi pi-caret-down" [filter]="true" [showClear]="true"
                  [placeholder]="groupPlaceholder"  appendTo="body" (onChange)="onChangeproj($event)" filterMatchMode="startsWith" ></p-dropdown>
              </span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="p-field grid ">
            <div class="col-12">
              <label>Requestors : <span style="color: red">*</span></label>
              <span *ngIf="groupprojectenable" class="border-manual"> {{this.groupFromAddress}}</span>
              <span *ngIf="groupproject">
                <input type="text" disabled="true" pInputText placeholder="Enter requestors email"
                  formControlName="from_Address" /></span>

            </div>
          </div>
        </div>

        <div class="col-8">
          <div class="p-field grid ">
            <div class="col-12">
              <label>Subject :<span style="color: red">*</span> </label>
              <input type="text" pInputText placeholder="Enter the Subject " formControlName="subject" />
            </div>
          </div>
        </div>
        <div class="col-4" >
          <div class="p-field grid ">
            <div class="col-12">
              <label>Status:<span style="color: red">*</span> </label>
              <p-dropdown appendTo="body" #groupliststatus [options]="statusvalue" [filter]="true"
              filterMatchMode="startsWith" filterBy="status" 
                panelStyleClass="dropdowndisable" optionLabel="status" optionValue="status" formControlName="status"
                [style]="{ width: '100%'}" filterMatchMode="startsWith"></p-dropdown>

            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="p-field grid ">
            <div class="col-12">
              <label>Remarks : <span style="color: red">*</span></label>
              <!-- <textarea pInputTextarea formControlName="mailBody"></textarea> -->
              <p-editor id="addnote" formControlName="mailBody" [style]="{'height':'150px'}">
              </p-editor>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="p-field grid abs-pos">
      <div class="col-12">
        <button pButton label="Save" type="submit" style="float: right !important"></button>
      </div>
    </div>

  </form>
  <div id="overlay" *ngIf="progressbar_manual">
    <span class="abs"> <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i></span>  
  </div>
</p-dialog>
<div id="overlay" *ngIf="progressbar">
  <span class="abs"> <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i></span>  
</div>
<p-toast></p-toast>
