<!-- <div>
	<h1>404 Error</h1>
	<h1>Page Not Found</h1>

    <button
        pButton
        pRipple
        label="Redirect"
        type="button"
        class="mr-3 p-button-raised"
        routerLink=""
      ></button>
</div>

 -->

<!-- <div>
	<h1>404 Error</h1>
	<h1>Page Not Found</h1>

    <button
        pButton
        pRipple
        label="Redirect"
        type="button"
        class="mr-3 p-button-raised"
        routerLink=""
      ></button>
</div> -->

<div>
  <div class="Header" style="margin-left: 2%; margin-top: 2%">
    <p-image src="/assets/FocusR_1000px.png" alt="Image" width="160"></p-image>
  </div>
</div>
<div style="margin-top: 5%">
  <div style="text-align: center">
    <img
      style="align-items: center"
      src="/assets/integration_new.svg"
      alt="Image"
      width="350"
    />
  </div>
  <p style="text-align: center" class="Pages">404</p>
  <h1 style="text-align: center" class="sorry">Sorry, page not found!</h1>
  <p style="text-align: center" class="style1">
    Sorry, we couldn’t find the page you’re looking for. Perhaps <br />
    you’ve mistyped the URL? Be sure to check your spelling.
  </p>
  <div style="text-align: center">
    <button
      pButton
      pRipple
      label="Go to Home"
      type="button"
      class="mr-3 p-button-raised p-button-danger"
      routerLink=""
    ></button>
  </div>
</div>
