<!-- <div *ngIf="showdivgeneral" class="div-tab">
  <p-breadcrumb
    [model]="breadcrumb"
    [home]="breadcrumb"
    class="pr-3"
  ></p-breadcrumb>
</div>

<div *ngIf="showdivuser">
  <p-breadcrumb
    [model]="breadcrumb"
    [home]="breadcrumb"
    class="pr-3"
  ></p-breadcrumb>
</div>

<p-tabView class="dark-panel" (onChange)="handleChange($event)">
  <p-tabPanel header="Agents" leftIcon="pi pi-fw pi-user">
    <app-general></app-general>
  </p-tabPanel>
  <p-tabPanel header="New Agents" leftIcon="pi pi-fw pi-user">
    <app-newagent></app-newagent>
  </p-tabPanel>

</p-tabView> -->
