
<div class="col-12">
    <div class="grid">
        <div class="box col-6" (click)="slaservice();" style="cursor: pointer;">
            <div class="col-12">
                <div class="grid">
                    <div class="col-3">
                         <img
                        src="{{ projectNames }}/assets/slaservice.png"
                        alt="Image"
                        width="80%"
                        class="img"
                      /></div>
                   <div class="col-8" style="line-height: 100px;    font-size: 14px;
                   font-weight: bold;">  SLA Policy - Service</div>
                </div>
            </div>
           
           
           </div>
           <div class="box col-6" (click)="slaincident();" style="cursor: pointer;">
            <div class="col-12">
                <div class="grid">
                    <div class="col-3">
                        <img
                        src="{{ projectNames }}/assets/SlaIncident.png"
                        alt="Image"
                        width="80%"
                        class="img"
                      />
                    </div>
                    <div class="col-8" style="line-height: 100px;    font-size: 14px;
                    font-weight: bold;">
                        SLA Policy - Incident
                    </div>
                </div>
            </div>
           
              
           </div>
    </div>
   
  </div>