.value {
    width: 6rem;
    padding: 0.75rem 0;
    margin-right: 10px;
    background-color: #234dda;
    color: #fff;
    border: 1px solid #481cda;
}
.margin-width
{
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}
.p-accordion .p-highlight .p-accordion-header-link
{
    background: #1c5a97;
    border-color: #1d5b99;
    color: #ffffff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.col-auto
{
    width: auto;
}