<!-- <div *ngIf="showdivgeneral" class="div-tab">
  <p-breadcrumb
    [model]="breadcrumb"
    [home]="breadcrumb"
    class="pr-3"
  ></p-breadcrumb>
</div>

<div *ngIf="showdivuser">
  <p-breadcrumb
    [model]="breadcrumb"
    [home]="breadcrumb"
    class="pr-3"
  ></p-breadcrumb>
</div>

<p-tabView class="dark-panel" (onChange)="handleChange($event)">
  <p-tabPanel header="Clients" leftIcon="pi pi-fw pi-user">
    <app-client></app-client>
  </p-tabPanel>
  <p-tabPanel header="New Clients" leftIcon="pi pi-fw pi-user">
    <app-newclient></app-newclient>
  </p-tabPanel>
</p-tabView> -->
