<!-- <div *ngIf="showdivgeneral" class="div-tab">
  <p-breadcrumb
    [model]="breadcrumb"
    [home]="breadcrumb"
    class="pr-3"
  ></p-breadcrumb>
</div>

<div *ngIf="showdivuser">
  <p-breadcrumb
    [model]="breadcrumb"
    [home]="breadcrumb"
    class="pr-3"
  ></p-breadcrumb>
</div>

<p-tabView class="dark-panel" (onChange)="handleChange($event)">
  <p-tabPanel header="Users" leftIcon="pi pi-fw pi-user">
    <app-user></app-user>
  </p-tabPanel>
  <p-tabPanel header="New User" leftIcon="pi pi-fw pi-user">
    <app-add-user></app-add-user>
  </p-tabPanel>
</p-tabView> -->
