<form class="p-fluid p-grid" [formGroup]="forgetForm">
  <div>
    <div class="Header" style="margin-left: 2%; margin-top: 0%">
      <p-image
        src="{{ projectNames }}/assets/FocusR_1000px.png"
        alt="Image"
        width="160"
      ></p-image>
    </div>
  </div>

  <div style="margin-top: 8%" class="sizes">
    <p style="text-align: center" class="Pages">Forgot Password</p>
    <p style="text-align: center; color: rgb(99, 115, 129)" class="style1">
      Please enter the email address associated with your account and <br />
      We will email you a link to reset your password.
    </p>
    <div class="outer">
      <div class="p-field md:col-4 p-md-3" style="margin-left: 35%">
        <label for="email"
          >Email Address<span style="color: red">*</span></label
        >
        <span class="p-float-label" styleClass="md-inputfield">
          <input
            type="text"
            id="email"
            pInputText
            required="true"
            formControlName="email"
          />
        </span>
      </div>
      <div class="p-field col-4 p-md-3" style="margin-left: 35%">
        <button
          pButton
          label="Reset Password"
          (click)="forgotPwd()"
          type="submit"
          class="p-button-raised p-button-danger"
          style="float: right !important"
        ></button>
        <div>
          <!-- <button
            pButton
            label="Back"
            type="submit"
            (click)="loginNavigation()"
            style="
              float: right !important ;
              background-color: transparent;
              border: 0px;
              color: #ff3030;
              background: none;
            "
          ></button> -->

          <button
            pButton
            pRipple
            type="button"
            label="Back"
            class="p-button-danger p-button-text"
            (click)="loginNavigation()"
          ></button>
        </div>
      </div>
    </div>
  </div>
</form>

<p-toast></p-toast>
