<!-- <p-table
#dt
editMode="row"
[value]="openticketlist"
[reorderableColumns]="true"
[rowsPerPageOptions]="[5, 10, 25, 50, 100]"
paginatorDropdownAppendTo="body"
[resizableColumns]="true"
[rows]="10"
[loading]="isLoading"
[paginator]="true"
responsiveLayout="scroll"
[columns]="selectedColumns"
[(selection)]="selectedTickets"
[rowHover]="true"
dataKey="id"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[showCurrentPageReport]="true"
[globalFilterFields]="['ticketNo','groupName']"
>

</p-table> -->
