<div class="card">
  <div class="card-container purple-container overflow-hidden">
      <div class="flex">
          <div class="flex-1 flex align-items-center justify-content-start  font-bold text-white m-2 border-round">
            <div  class="div-tab">
              <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
            </div>
          </div>
      
    
      </div>
  </div>
</div>

  
<div class="outer">
  <form
  class="p-fluid p-grid"
  (ngSubmit)="savePassword()"
  [formGroup]="passwordForm"
>
  <!-- <div class="p-field md:col-6 p-md-3 mb-2">
    <span class="p-float-label">
      <p-password inputId="password" [feedback]="false" formControlName="oldpassword" ></p-password>
      <label for="oldpassword">Old Password</label>
      <div *ngIf="passwordForm.controls['oldpassword'].invalid && (passwordForm.controls['oldpassword'].dirty || passwordForm.controls['oldpassword'].touched)" class="alert">
        <div *ngIf="passwordForm.controls['oldpassword'].errors?.['required']">
        Please enter Old Password
      </div>
      </div>
    </span>
  </div> -->

  <div class="p-field md:col-12 p-md-2 mb-2">
    <span class="p-float-label">
      <p-password
        inputId="password"
        [feedback]="false"
        formControlName="newpassword"
        [toggleMask] ="true"
        (onBlur)="submitpass()"
      >
   
  
    </p-password>
      <label for="newpassword">New Password</label>
      <div
        *ngIf="
          passwordForm.controls['newpassword'].invalid &&
          (passwordForm.controls['newpassword'].dirty ||
            passwordForm.controls['newpassword'].touched)
        "
        class="alert"
      >
        <div *ngIf="passwordForm.controls['newpassword'].errors?.['required']">
          Please enter Old Password
        </div>
      </div>
    </span>
  </div>

  <div class="p-field md:col-12 p-md-2 mb-2">
    <span class="p-float-label">
      <p-password
        inputId="password"

        [feedback]="false"
        formControlName="confirmpassword"
        [toggleMask] ="true"
        (onBlur)="submit()"
      ></p-password>
      
      <label for="confirmpassword">Confirm Password</label>
     
      <div
        *ngIf="
          passwordForm.controls['confirmpassword'].invalid &&
          (passwordForm.controls['confirmpassword'].dirty ||
            passwordForm.controls['confirmpassword'].touched)
        "
        class="alert"
      >
 
        <div
          *ngIf="passwordForm.controls['confirmpassword'].errors?.['required']"
        >
          Please enter Confirm Password
        </div>
      </div>
    </span>
  </div>
  <div *ngIf="passwordmatch" class="alert textalign">
    Passwords did not match
  </div>
  <div class="p-field col-12 mb-6">
    <button
      pButton
      label="Save"
      type="submit"
      style="float: right !important"
    ></button>
  </div>

</form>

</div>
<p-toast></p-toast>