.alert {
    margin: 0;
    padding-bottom: 0px;
    color: red;
    padding-left: 0px;
}
.outer
{
    margin: 0 auto;
    width: 30%;

    background-color: #edf1f2;
    padding: 40px;
    margin-top: 10px;
    border: 1px solid #ddd;
}
.p-float-label > .ng-invalid.ng-dirty + label
{
    top: 33%;
}
.alert.textalign {
    text-align: center;
}