<div id="loader">
  <style>
    .application-loading-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .application-loading-box {
      width: 300px;
      margin: 5px;
      text-align: center;
    }
  </style>
  <div class="application-loading-container">
    <div class="application-loading-box">
      <h2>Loading...</h2>
      <span class="abs-sec"> <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i></span>
    </div>
  </div>
</div>
<!-- <div class="Techzard">
  <div class="Final">
    <img
      src="{{ projectNames }}/assets/FocusR_1000px.png"
      alt="Image"
      width="200"
      class="img"
    />

    <div class="Name">
      <div class="Img">
        <div class="grid grid-nogutter surface-section text-800">
          <div
            class="col-12 md:col-6 p-8 text-center md:text-left flex align-items-center"
          >
            <section>
              <p class="Tech" style="margin-bottom: 8%">TechZard</p>
              <p class="col-12 mt-0 mb-4 text-700 line-height-3">
     
                TechZard provides answers to clients by identifying problems,
                researching answers, and guiding clients through corrective
                steps.
              </p>

              <button
                pButton
                pRipple
                label="Login"
                type="button"
                class="mr-3 p-button-raised p-button-danger"
                (click)="loginNavigation()"
              ></button>
            </section>
          </div>
          <div class="col-12 md:col-6 overflow-hidden">
            <img
              src="{{ projectNames }}/assets/langingimage.jpg"
              alt="Image"
              class="Tech12"
              style="width: 100%; max-width: 70%; margin-right: 100%"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="background">
  <div class="layer">
    <div class="Final">
      <img
        src="{{ projectNames }}/assets/FocusR_1000px1.png"
        alt="Image"
        width="200"
        class="img"
      />
  
      <div class="Name">
        <div class="Img">
          <div class="grid grid-nogutter  text-800">
            <div
              class="col-12 md:col-6 p-8 text-center md:text-left flex align-items-center"
            >
              <section>
                <p class="Tech" style="margin-bottom: 8%">TechZard</p>
                <p class="col-12 mt-0 mb-4 text-700 line-height-3">
       
                  TechZard provides answers to clients by identifying problems,
                  researching answers, and guiding clients through corrective
                  steps.
                </p>
  
                <button
                  pButton
                  pRipple
                  label="Login"
                  type="button"
                  class="mr-3 p-button-raised p-button-danger"
                  (click)="loginNavigation()"
                ></button>
              </section>
            </div>
            <div class="col-12 md:col-6 overflow-hidden">
              <img
                src="{{ projectNames }}/assets/landingpic.png"
                alt="Image"
                class="Tech12"
                style="width: 100%; max-width: 90%; margin-right: 100%"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>